# BÃ¼yÃ¼k Veride Makine Ã–ÄŸrenmesi

In [15]:
import findspark
findspark.init("/Users/necmiyesoyla/spark/spark-3.3.2-bin-hadoop3")

import pyspark
from pyspark.conf import SparkConf
from pyspark import SparkContext
from pyspark.sql import SparkSession

spark=SparkSession.builder\
    .master("local")\
    .appName("ml_spark")\
    .getOrCreate()

sc=spark.sparkContext
sc

In [16]:
s_df=spark.read.csv("churn.csv", header=True, inferSchema=True, sep=",")
s_df.cache()

DataFrame[_c0: int, Names: string, Age: double, Total_Purchase: double, Account_Manager: int, Years: double, Num_Sites: double, Churn: int]

In [17]:
s_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Churn: integer (nullable = true)

In [20]:
s_df.show(10)
#hocam elimizde mÃ¼ÅŸterilerle ilgili bir veri seti var. mÃ¼ÅŸterini bizi terk edip etmeyeceÄŸini bulmaya Ã§alÄ±ÅŸÄ±yoruz

+---+----------------+----+--------------+---------------+-----+---------+-----+
|_c0|           Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|Churn|
+---+----------------+----+--------------+---------------+-----+---------+-----+
|  0|Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|    1|
|  1|   Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|    1|
|  2|     Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|    1|
|  3|   Phillip White|42.0|       8010.76|              0| 6.71|     10.0|    1|
|  4|  Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|    1|
|  5|Jessica Williams|48.0|      10356.02|              0| 5.12|      8.0|    1|
|  6|     Eric Butler|44.0|      11331.58|              1| 5.23|     11.0|    1|
|  7|   Zachary Walsh|32.0|       9885.12|              1| 6.92|      9.0|    1|
|  8|     Ashlee Carr|43.0|       14062.6|              1| 5.46|     11.0|    1|
|  9|  Jennifer Lynch|40.0|       8066.94|              1| 7.11|     11.0|    1|
+---+----------------+----+--------------+---------------+-----+---------+-----+
only showing top 10 rows

In [26]:
#deÄŸiÅŸken isimlerini belirli bir standartta tuttmak mantÄ±klÄ± olur. hadi bizde tÃ¼m deÄŸiÅŸken isimlerini kÃ¼Ã§Ã¼k harli yapalÄ±m
s_df=s_df.toDF(*[itr.lower() for itr in s_df.columns])
s_df.show(5)

#bu yÃ¶ntem saprk df iÃ§in geÃ§erli aynÄ± iÅŸÅŸÅŸlemi pandas df'de yapmak istersen
#df.columns(str.lower,df.columns) evet daha kolay daat frame iÅŸlemlerinin pandas daha geliÅŸmiÅŸ olduÄŸunu sÃ¶ylemiÅŸtik :))

+---+----------------+----+--------------+---------------+-----+---------+-----+
|_c0|           names| age|total_purchase|account_manager|years|num_sites|churn|
+---+----------------+----+--------------+---------------+-----+---------+-----+
|  0|Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|    1|
|  1|   Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|    1|
|  2|     Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|    1|
|  3|   Phillip White|42.0|       8010.76|              0| 6.71|     10.0|    1|
|  4|  Cynthia Norton|37.0|       9191.58|              0| 5.56|      9.0|    1|
+---+----------------+----+--------------+---------------+-----+---------+-----+
only showing top 5 rows

In [27]:
#yine data setimizz Ã¼zerinden daah rahat iÅŸlme yapabilmemiz deÄŸiÅŸiklik yapmaya aslÄ±nda kiÅŸiselleÅŸtirmeye devam ediyoruz.
#_c0 ismi Ã§ok saÃ§ma aslÄ±nda index 'i tutuyÄ±r yekten index diyelim :)

s_df=s_df.withColumnRenamed("_c0","index")
s_df.show(3)

+-----+----------------+----+--------------+---------------+-----+---------+-----+
|index|           names| age|total_purchase|account_manager|years|num_sites|churn|
+-----+----------------+----+--------------+---------------+-----+---------+-----+
|    0|Cameron Williams|42.0|       11066.8|              0| 7.22|      8.0|    1|
|    1|   Kevin Mueller|41.0|      11916.22|              0|  6.5|     11.0|    1|
|    2|     Eric Lozano|38.0|      12884.75|              0| 6.67|     12.0|    1|
+-----+----------------+----+--------------+---------------+-----+---------+-----+
only showing top 3 rows

In [35]:
print("GÃ¶zlem sayÄ±sÄ±:",s_df.count())#gÃ¶zlem sayÄ±sÄ±
print("deÄŸiÅŸken sayÄ±sÄ±:",len(s_df.columns))#deÄŸiÅŸken sayÄ±sÄ±
print("ve deÄŸiÅŸkn isimleri:")
s_df.columns#deÄŸiÅŸkneler

GÃ¶zlem sayÄ±sÄ±: 900
deÄŸiÅŸken sayÄ±sÄ±: 8
ve deÄŸiÅŸkn isimleri:

['index',
 'names',
 'age',
 'total_purchase',
 'account_manager',
 'years',
 'num_sites',
 'churn']

In [37]:
#gerÃ§ek bi rproje Ã¼stÃ¼nde Ã§alÄ±ÅŸÄ±r gibi ileliyoruz
#bu ilemlerden sonra dat sette isimsiz gÃ¶zlme varmÄ± yani tekrarlÄ± gÃ¶zlem var mÄ± diye kontrol ederiz

s_df.distinct().count()
#ops 900 mÃ¼?

900

In [60]:
print("year:",s_df.select("years").distinct().count())
print("age:",s_df.select("age").distinct().count())
print("num_sites:",s_df.select("num_sites").distinct().count())
print("total_purchase:",s_df.select("total_purchase").distinct().count())


#olmadÄ± yeaars deÄŸiÅŸkeninden kaynaklÄ± olabilr mi demiÅŸtim
#birde names'e bakalÄ±m belki aynÄ± isimli mÃ¼ÅŸteriler vardÄ±r

year: 418
age: 36
num_sites: 12
total_purchase: 900

In [56]:
print(s_df.select("names").distinct().count())
#hm isim deÄŸiÅŸkenÅŸnden kaynaj-klÄ±umÄ±ÅŸ

899

In [53]:
#peki aklÄ±mÄ±za bir kurt dÃ¼ÅŸtÃ¼ bunlr gerÃ§ekten isim benzerliÄŸi olna mÃ¼ÅŸteriler mi? yoksa tekrar eden gÃ¶zlemler mi?
#bunu iÃ§in isime gÃ¶re gruplayalÄ±m
#isimlere gÃ¶re grupluyoruz sonra sÄ±ralÄ±yoruz 
s_df.groupBy("names").count().sort("count", ascending=False).show(5)

+----------------+-----+
|           names|count|
+----------------+-----+
|   Jennifer Wood|    2|
|    Patrick Bell|    1|
|   Chelsea Marsh|    1|
|Patrick Robinson|    1|
|     John Barber|    1|
+----------------+-----+
only showing top 5 rows

In [55]:
s_df.filter(s_df.names=="Jennifer Wood").show()
#evet sorun yok isim benzerliÄŸi

+-----+-------------+----+--------------+---------------+-----+---------+-----+
|index|        names| age|total_purchase|account_manager|years|num_sites|churn|
+-----+-------------+----+--------------+---------------+-----+---------+-----+
|   22|Jennifer Wood|35.0|       9381.12|              1| 6.78|     11.0|    1|
|  439|Jennifer Wood|48.0|      11585.16|              0| 4.61|      9.0|    0|
+-----+-------------+----+--------------+---------------+-----+---------+-----+

In [64]:
s_df.groupBy("age").count().sort("count", ascending=False).show(5)
#aynÄ± yaÅŸt insanalrÄ±n omasÄ± Ã§okt aÃ¶nemli deÄŸil sorun yok yani

+----+-----+
| age|count|
+----+-----+
|41.0|   69|
|43.0|   59|
|40.0|   58|
|45.0|   56|
|44.0|   53|
+----+-----+
only showing top 5 rows

In [70]:
#peki farz edelim ki spesifik olarak belli bir deÄŸiÅŸknedeki tekrarlayanlarÄ± silmek istiyoruz hadi bakalÄ±m 

s_df.select("names").dropDuplicates()

s_df.select("names").dropDuplicates().groupby("names").count().sort("count",ascending=False).show(3)

#ilk satÄ±rda aslÄ±nda silme iÅŸlemini yaptÄ±k ama kayÄ±t etmediÄŸimiz iÃ§in gerÃ§ekten 
#silip silmediÄŸ,n, gÃ¶rmek iÃ§in aymÄ± kodu tekrar yasÄ±p devamona da gÃ¶rmemizi saÄŸlayac kodu ekledik

+----------------+-----+
|           names|count|
+----------------+-----+
|    Patrick Bell|    1|
|Patrick Robinson|    1|
|   Chelsea Marsh|    1|
+----------------+-----+
only showing top 3 rows

In [82]:
s_df.select("age").dropDuplicates()

s_df.select("age").dropDuplicates().groupby("age").count().sort("count",ascending=False).show(5)

s_df.select("age").dropDuplicates().count()#sadece 36 gÃ¶zlem kalmÄ±ÅŸ :))

+----+-----+
| age|count|
+----+-----+
|49.0|    1|
|29.0|    1|
|47.0|    1|
|42.0|    1|
|44.0|    1|
+----+-----+
only showing top 5 rows

36

In [83]:
#Codun anlam ve Ã¶nemi Hocam muhakkak duplicate gÃ¶zlme avrnÄ± diye kontrol edelim

In [84]:
#peki birde belirli bir indise veya belirli indisden belirli bir deÄŸiÅŸkene ulaÅŸma gereksiniminde ne yaparoz ona bakalÄ±m

In [89]:
s_df.where(s_df.index==100).show()#22.indexteki kiÅŸiye eriÅŸtik

+-----+------------+----+--------------+---------------+-----+---------+-----+
|index|       names| age|total_purchase|account_manager|years|num_sites|churn|
+-----+------------+----+--------------+---------------+-----+---------+-----+
|  100|Chelsea Ward|43.0|      12104.25|              0| 5.86|      7.0|    1|
+-----+------------+----+--------------+---------------+-----+---------+-----+

In [91]:
s_df.where(s_df.index==100).select("names").show()
#sadece ismine eriÅŸtik

+------------+
|       names|
+------------+
|Chelsea Ward|
+------------+

In [99]:
#hocam seÃ§tiÄŸimiz veriyi alÄ±p iÅŸlenebilr hala getirdik
#bu normalde zor bir iÅŸlem. Spark data farmeden veriyi kandi tipind eiÅŸlnebilir halde almak. bunu bize saÄŸlayan metod gÃ¶rÃ¼ldiÄŸi collect() TeÅŸkkkÃ¼rler collect()ğŸ‘ğŸ»
#yÄ±nÄ±daki [0] index iÅŸareti herzaman 0 oluyor am neden bende bilmiyorum
x=s_df.where(s_df.index==100).collect()[0]["age"]

In [97]:
type(x)

float

# Veri Analizi