# K Means

Amaç gözlemleri birnirlerine olan benzerleiklerime göre kümelere ayırmaktır. 

Kümeler eiçi benzerlik yüksek kümeler arası benzerlik düşükm olsun isteriz

- Küme saysıs belirlenir k sayıda olsun

- Rastgele k sayıda merkez seçilir

- Her gözlem için k merkezlere uzaklık hessaplanır ve kendisine en yakşn merkeze atanır.

- Atama işlemlerinden sonra oluşan kümeler için tekrardan merkez hesaplamaları yapılır

- Bu işlembelirlenen bir iterasyonnadedince devam edilir. hatası en düşük olann şekil son hal kabul edilir

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as sp
from sklearn.cluster import KMeans

In [2]:
data=pd.read_csv("USArrests.csv")
df=data.copy()
df.head()
#gördüğün gibi eyalet isimleri değişkne gibi olmuş ancak index ismi olmalılar öncelikle onu düzeltelim

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [6]:
x=df.iloc[:,0]
df.index=x
#df=df.drop["Unnamed"]
df.head()

            Unnamed: 0  Murder  Assault  UrbanPop  Rape
Unnamed: 0
Alabama        Alabama    13.2      236        58  21.2
Alaska          Alaska    10.0      263        48  44.5
Arizona        Arizona     8.1      294        80  31.0
Arkansas      Arkansas     8.8      190        50  19.5
California  California     9.0      276        91  40.6